/* Fonts */


/* roboto-regular - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/roboto.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-500 - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/robotomedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/robotomedium.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-700 - latin_cyrillic */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../fonts/robotobold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/robotobold.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --basic-black: #000000;
    --basic-black-transparent: rgba(0, 0, 0, 0.3);
    --basic-shadow: rgba(0, 0, 0, 0.4);
    --basic-gray-transparent: rgba(0, 0, 0, 0.6);
    --basic-pagination-gray: #dfdfdf;
    --basic-pagination-dark-gray: #d5d5d5;
    --basic-pagination-focus-background: rgba(0, 0, 0, 0.0001);
    --basic-pagination-focus-border: #dbdbdb;
    --basic-extra-dark: #283136;
    --basic-dark: #444444;
    --basic-light: #666666;
    --basic-neutral: #eeeeee;
    --basic-neutral-dark: #e1e1e1;
    --basic-white: #ffffff;
    --basic-white-transparent: rgba(255, 255, 255, 0.3);
    --basic-red: #fb565a;
    --basic-popup-close-button: rgba(251, 86, 90, 0.3);
    --basic-dark-red: #E74246;
    --basic-extra-dark-red: #D7373B;
    --basic-green: #00ca74;
    --basic-dark-green: #00BC6C;
    --basic-extra-dark-green: #00AA62;
    --basic-yellow: #efc849;
    --basic-dark-yellow: #EAB534;
    --basik-extra-dark-yellow: #E5A722;
}


/* Global */

.page-body {
    min-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-extra-dark);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

.main-header {
    background-color: var(--basic-neutral);
}

.inner-page .main-header {
    padding-bottom: 72px;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.visually-hidden {
    visibility: hidden;
    height: 0px;
    margin: 0px;
}


/* Grid */

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}


/* Grid for catalog */

.catalog-block {
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;
    align-content: start;
}

.samples-list {
    display: grid;
    grid-template-columns: 360px 360px;
    column-gap: 40px;
    align-content: start;
    margin: 0;
    padding: 0;
}


/* Flex */

.main-header .container {
    margin-top: 49px;
    display: flex;
    align-items: flex-end;
}

.sort-block {
    padding: 55px 0 48px;
    display: flex;
}

.sort-criterions {
    width: 360px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}

.sort-list,
.sort-arrows {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort-list {
    flex-grow: 1;
}

.sort-arrows {
    width: 40px;
    margin-left: 47px;
}


/* Main navigation */

.main-header-logo {
    width: 160px;
    height: 65px;
}

.main-navigation {
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    width: 100%;
    margin-left: 202px;
    margin-bottom: 9px;
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    width: 437px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart li {
    max-width: 150px;
    padding-left: 50px;
    position: relative;
}

.cart li::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 9px;
    width: 15px;
    height: 15px;
    background-image: url("img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-navigation,
.cart {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.site-navigation a,
.cart a {
    display: block;
    color: var(--basic-black)
}

.site-navigation a:hover,
.cart a:hover {
    color: var(--basic-red)
}

.site-navigation a:active,
.cart a:active {
    color: var(--basic-black-transparent)
}


/* Advantages */

.advantages {
    background-color: var(--basic-neutral);
}

.slider {
    margin: 0px;
    padding: 0px;
    position: relative;
    min-height: 431px;
    background-repeat: no-repeat;
    background-position: right;
}

.slider-wrapper-1 {
    background-image: url("img/nerds-index-slide-1.png");
}

.slider-wrapper-2 {
    background-image: url("img/nerds-index-slide-2.png");
}

.slider-wrapper-3 {
    background-image: url("img/nerds-index-slide-3.png");
}

.slider-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.advantage-item {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.advantage-header {
    margin: 0px;
    padding-top: 78px;
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
}

.advantage-item:first-child p:nth-child(2) {
    margin: 25px 0px 0px 0px;
}

.advantage-item:nth-child(2) p:nth-child(2),
.advantage-item:nth-child(3) p:nth-child(2) {
    margin: 37px 0px 0px 0px;
}

.slider-controls {
    position: absolute;
    bottom: 96px;
    left: 536px;
    z-index: 20;
    display: flex;
    width: 88px;
    justify-content: space-between;
}

.slide {
    display: none;
}

.slide-current {
    display: block;
}


/* Button */

.slider-controls button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: var(--basic-white);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls .current::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(193, 193, 193, 1);
    box-sizing: border-box;
}

.button {
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    cursor: pointer;
}

.advantages-button,
.service-button,
.contacts-button,
.purchase-button {
    color: var(--basic-white);
    border-radius: 3px;
}

.advantages-button,
.service-button-web,
.contacts-button,
.purchase-button {
    background-color: var(--basic-red);
}

.advantages-button:hover,
.service-button-web:hover,
.contacts-button:hover,
.purchase-button:hover {
    background-color: var(--basic-dark-red);
}

.advantages-button a:active,
.service-button a:active,
.contacts-button a:active,
.purchase-button:active {
    color: var(--basic-white-transparent);
    background-color: var(--basic-extra-dark-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.advantages-button {
    display: inline-block;
    padding: 17px 54px 15px 54px;
}

.advantage-item:first-child .button {
    margin: 38px 0px 0px 0px;
}

.advantage-item:nth-child(2) .button {
    margin: 27px 0px 0px 0px;
}

.advantage-item:nth-child(3) .button {
    margin: 26px 0px 0px 0px;
}

.service-button {
    display: inline-block;
    padding: 17px 40px 15px 39px;
    margin-top: 32px;
}

.service-button-apps {
    background-color: var(--basic-green);
}

.service-button-apps:hover {
    background-color: var(--basic-dark-green);
}

.service-button-apps:active {
    background-color: var(--basic-extra-dark-green);
}

.service-button-presentations {
    background-color: var(--basic-yellow);
}

.service-button-presentations:hover {
    background-color: var(--basic-dark-yellow);
}

.service-button-presentations:active {
    background-color: var(--basik-extra-dark-yellow);
}


/* Catalog sort buttons */

.sort-button {
    padding: 0px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black-transparent);
    background-color: var(--basic-white);
    border: none;
}

.sort-button:hover {
    color: var(--basic-gray-transparent);
}

.sort-button:active {
    color: var(--basic-black);
}

.sort-active {
    color: var(--basic-black);
}


/* Services */

.services {
    padding: 80px 0 80px;
    border-bottom: 2px solid var(--basic-neutral);
}

.services-list {
    width: 1100px;
    list-style: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.service-item {
    width: 300px;
    position: relative;
}

.service-item h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    padding-top: 171px;
    margin: 0px;
}

.service-item p {
    margin: 16px 0px 0px 0px;
}

.service-item:first-child::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 146px;
    left: 0px;
    top: 0px;
    background-image: url("img/illustration-1.png");
}

.service-item:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 146px;
    left: 0px;
    top: 0px;
    background-image: url("img/illustration-2.png");
}

.service-item:nth-child(3)::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 146px;
    left: 0px;
    top: 0px;
    background-image: url("img/illustration-3.png");
}


/* About */

.about {
    border-bottom: 2px solid var(--basic-neutral);
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.description-container {
    padding: 73px 0 73px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.levels-container {
    padding: 39px 0 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-black);
    margin: 0px;
}

.description-container p:nth-child(2) {
    margin: 32px 0px 0px 0px;
}

.about h4 {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0px;
}

.description-container h4 {
    margin: 40px 0px 0px 0px;
}

.levels-container h4 {
    margin: 37px 0px 0px 0px;
}

.description-list {
    list-style-type: none;
    padding-left: 32px;
    margin: 23px 0px 0px 0px;
    position: relative;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description-list li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    left: 0px;
    transform: translate(0, 11px);
    background-color: var(--basic-red);
}

.about-studio {
    margin: 31px 0px 0px 0px;
    border-spacing: 10px;
}

.about-studio td {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black);
}

.about-studio th {
    font-weight: inherit;
    line-height: 18px;
    text-align: left;
}

.about-studio-levels span {
    font-size: 26px;
    line-height: 40px;
    vertical-align: top;
}


/* Companies-logo */

.companies {
    border-bottom: 2px solid var(--basic-neutral);
}

.companies-logo {
    list-style-type: none;
    margin: 0px;
    padding: 46px 0 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.companies-logo-item {
    width: 298px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0.2;
}

.companies-logo-item:hover {
    opacity: 1;
}

.companies-logo-item:active {
    opacity: 0.1;
}

.companies-logo-item:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    right: 0px;
    background-color: var(--basic-neutral);
}


/* Catalog */

.title-block {
    background-color: var(--basic-neutral);
    padding-bottom: 108px;
    text-align: center;
}

.page-title {
    margin: 0px;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
}

.sort-header {
    width: 360px;
    margin: 0px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.samples-list {
    list-style-type: none;
}

.sample-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.sample-description {
    line-height: 18px;
    color: var(--basic-light)
}

.pagination-block {
    padding: 50px 0 60px;
    display: flex;
    justify-content: flex-start;
}

.pagination-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
}

.pagination-item a,
.pagination-button,
.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    font-weight: 500;
    line-height: 18px;
    color: var(--basic-black);
    border-radius: 3px;
    border: none;
}

.pagination-item a:active {
    color: var(--basic-black-transparent);
}

.pagination-item,
.pagination-item a,
.pagination-button {
    background-color: var(--basic-neutral)
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-button:hover,
.pagination-button:focus {
    background-color: var(--basic-pagination-gray);
}

.pagination-item a:active,
.pagination-button:active {
    background-color: var(--basic-pagination-dark-gray);
}

.current-page a,
.current-page a:hover,
.current-page a:focus,
.current-page a:active {
    background-color: var(--basic-pagination-focus-background);
    border: 3px solid var(--basic-pagination-focus-border);
}


/* Footer */

.contacts {
    margin: 80px 0px 0px 0px;
    background-image: url("img/map.jpg");
    width: 100%;
    height: 416px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.contacts .container {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.adress-container {
    width: 319px;
    margin: 54px 0 54px;
    background-color: var(--basic-white);
}

.contacts h5 {
    margin: 49px 0 0 50px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.contacts p {
    margin: 23px 0 0 50px;
    line-height: 18px;
    color: var(--basic-light);
}

.contacts-phone {
    color: inherit;
}

.contacts-button {
    padding: 17px 44px 15px 44px;
    margin: 37px 0 50px 50px;
}

.map-marker {
    position: absolute;
    right: 223px;
    top: 86px;
}

.social-container {
    padding: 68px 0 76px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.discount-container {
    padding-left: 139px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.social-links-header {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-black);
}

.discount {
    margin: 0;
    line-height: 22px;
    color: var(--basic-dark);
}

.social-list {
    width: 261px;
    margin: 0px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-link {
    background: linear-gradient(0deg, var(--basic-neutral-dark), var(--basic-neutral-dark)), var(--basic-white);
    border-radius: 50%;
}

.social-link:hover {
    background: linear-gradient(0deg, var(--basic-dark-red), var(--basic-dark-red)), var(--basic-white);
}

.social-link:active {
    background: linear-gradient(0deg, var(--basic-extra-dark-red), var(--basic-extra-dark-red)), var(--basic-white);
}

.vk {
    padding: 33px 28px 33px 27px;
}

.facebook {
    padding: 31px 34px 28px 35px;
}

.instagram {
    padding: 30px;
}


/* Popup */

.popup {
    display: none;
    width: min-content;
    margin: auto;
    position: fixed;
    left: 240px;
    right: 240px;
    bottom: 180px;
    padding: 0 99px 84px 100px;
    background-color: var(--basic-white);
    box-shadow: 0px 20px 40px var(--basic-shadow);
}

.popup-header {
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    margin: 63px 0px 0px 0px;
    padding: 0px;
    color: var(--basic-black)
}

.popup label {
    font-weight: bold;
    line-height: 18px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 37px;
    color: var(--basic-black)
}

.name-field,
.email-field {
    width: 360px;
}

.form-container input,
.form-container textarea {
    box-sizing: border-box;
    margin: 9px 0px 0px 0px;
    color: var(--basic-dark);
    opacity: 0.5;
}

.form-container input:focus,
.form-container textarea:focus {
    opacity: 1;
}

.name-field input,
.email-field input {
    width: 360px;
    padding: 16px 14px 16px 16px;
}

.comment-field {
    margin: 34px 0px 0px 0px;
}

.comment-field textarea {
    width: 760px;
    padding: 16px 414px 84px 16px;
}

.form-button {
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    margin: 47px 0px 0px 0px;
    color: var(--basic-white);
    padding: 17px 83px 15px 83px;
    background-color: var(--basic-red);
    border-radius: 3px;
    border: 0;
    cursor: pointer;
}

.popup-close {
    position: absolute;
    top: 78px;
    right: 90px;
    width: 21px;
    height: 21px;
    border: 0;
    background-color: transparent;
    background-image: url("img/popup-close.svg");
    cursor: pointer;
}