/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,not ie <= 11
*/


/* Fonts */


/* roboto-regular - latin_cyrillic */

@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Roboto";
    src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-500 - latin_cyrillic */

@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: "Roboto";
    src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/robotomedium.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/robotomedium.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-700 - latin_cyrillic */

@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Roboto";
    src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/robotobold.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/robotobold.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --basic-asphalt-gray: #ababab;
    --basic-black: #000000;
    --basic-black-active: #231f20;
    --basic-black-transparent: rgba(0, 0, 0, 0.3);
    --basic-dark: #444444;
    --basic-dark-gray-blue: #b4b9bb;
    --basic-dark-green: #00bc6c;
    --basic-dark-red: #e74246;
    --basic-dark-shadow: rgba(0, 0, 0, 0.4);
    --basic-dark-transparent: rgba(68, 68, 68, 0.5);
    --basic-dark-yellow: #eab534;
    --basic-extra-dark: #283136;
    --basic-extra-dark-gray: #4d4d4d;
    --basic-extra-dark-gray-transparent: rgba(77, 77, 77, 0.12);
    --basic-extra-dark-green: #00aa62;
    --basic-extra-dark-red: #d7373b;
    --basic-extra-dark-yellow: #e5a722;
    --basic-extra-light-gray: #dfdfdf;
    --basic-extra-light-shadow: rgba(0, 1, 1, 0.1);
    --basic-gray: rgba(166, 166, 166, 1);
    --basic-gray-blue: #d7dcdf;
    --basic-gray-transparent: rgba(0, 0, 0, 0.6);
    --basic-green: #00ca74;
    --basic-light: #666666;
    --basic-light-black: #283136;
    --basic-light-gray: #d5d5d5;
    --basic-light-gray-blue: #d7dcde;
    --basic-light-shadow: rgba(0, 1, 1, 0.25);
    --basic-neutral: #eeeeee;
    --basic-neutral-dark: #e1e1e1;
    --basic-neutral-extra-dark: #dbdbdb;
    --basic-red: #fb565a;
    --basic-shadow: rgba(0, 0, 0, 0.15);
    --basic-white: #ffffff;
    --basic-white-transparent: rgba(255, 255, 255, 0.3);
    --basic-yellow: #efc849;
}


/* Global */

.page-body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", arial, sans-serif;
    color: var(--basic-extra-dark);
    background-color: var(--basic-white);
}

.page-body main {
    margin-bottom: 80px;
}

.inner-page main {
    margin-bottom: 60px;
}

a {
    text-decoration: none;
}

.main-header {
    background-color: var(--basic-neutral);
}

.inner-page .main-header {
    padding-bottom: 72px;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}

.page {
    height: 100%;
}

.page-body {
    display: grid;
    align-content: start;
    min-height: 100%;
    grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content 1fr min-content;
}

.catalog-block {
    display: grid;
    align-content: start;
    -moz-column-gap: 140px;
    column-gap: 140px;
    grid-template-columns: 260px 1fr;
}

.samples-list {
    display: grid;
    align-content: start;
    margin: 0;
    padding: 0;
    -moz-column-gap: 40px;
    column-gap: 40px;
    grid-template-columns: 360px 360px;
}

.main-header .container {
    display: flex;
    align-items: flex-end;
    margin-top: 49px;
}


/* Main navigation */

.main-header-logo {
    width: 160px;
    height: 66px;
    margin: 0;
    padding: 0;
}

.main-header-logo:active path {
    fill: var(--basic-gray);
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 9px;
    margin-left: 202px;
    font-weight: 500;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    min-width: 437px;
}

.site-navigation li {
    margin-right: 45px;
}

.cart li {
    position: relative;
    max-width: 150px;
    padding-left: 50px;
}

.cart li::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 9px;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-navigation,
.cart {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation a,
.cart a {
    display: block;
    color: var(--basic-black);
}

.site-navigation a:hover,
.cart a:hover,
.site-navigation a:focus,
.cart a:focus {
    color: var(--basic-red);
}

.site-navigation a:active,
.cart a:active {
    color: var(--basic-black-transparent);
}


/* Advantages */

.advantages {
    background-color: var(--basic-neutral);
}

.slider {
    position: relative;
    min-height: 431px;
    margin: 0 auto;
    padding: 0;
    background-repeat: no-repeat;
    background-position: right;
}

.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    width: 1160px;
    min-height: 431px;
    background-repeat: no-repeat;
    background-position: right;
}

.first-slide {
    background-image: url("../img/nerds-index-slide-1.png");
}

.second-slide {
    background-image: url("../img/nerds-index-slide-2.png");
}

.third-slide {
    background-image: url("../img/nerds-index-slide-3.png");
}

.advantage-header {
    margin: 0;
    padding-top: 78px;
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
}

.first-slide p:nth-child(2) {
    margin: 25px 0 0 0;
}

.second-slide p:nth-child(2),
.third-slide p:nth-child(2) {
    margin: 37px 0 0 0;
}

.slider-controls {
    position: absolute;
    bottom: 96px;
    left: 536px;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    width: 88px;
}

.slide {
    display: none;
}

.slide-current {
    display: block;
}


/* Button */

.slider-controls button {
    width: 18px;
    height: 18px;
    padding: 0;
    background-color: var(--basic-white);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls .current::before,
.slider-controls .current:hover::before,
.slider-controls .current:focus::before,
.slider-controls .current:active::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border: 2px solid rgba(193, 193, 193, 1);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.button {
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.advantages-button,
.service-button,
.contacts-button,
.purchase-button {
    color: var(--basic-white);
    border-radius: 3px;
}

.advantages-button,
.service-button-web,
.contacts-button,
.purchase-button,
.form-button {
    background-color: var(--basic-red);
}

.advantages-button:hover,
.service-button-web:hover,
.contacts-button:hover,
.purchase-button:hover,
.form-button:hover,
.advantages-button:focus,
.service-button-web:focus,
.contacts-button:focus,
.purchase-button:focus,
.form-button:focus {
    background-color: var(--basic-dark-red);
}

.advantages-button:active,
.service-button:active,
.contacts-button:active,
.purchase-button:active,
.form-button:active {
    color: var(--basic-white-transparent);
    background-color: var(--basic-extra-dark-red);
    box-shadow: inset 0 3px 0 var(--basic-extra-light-shadow);
}

.advantages-button {
    display: inline-block;
    padding: 17px 54px 15px 54px;
    vertical-align: top;
}

.first-slide .advantages-button {
    margin-top: 38px;
}

.second-slide .advantages-button {
    margin-top: 27px;
}

.third-slide .advantages-button {
    margin-top: 26px;
}

.service-button {
    margin-top: 32px;
    padding: 17px 40px 15px 39px;
}

.service-button-apps {
    background-color: var(--basic-green);
}

.service-button-apps:hover,
.service-button-apps:focus {
    background-color: var(--basic-dark-green);
}

.service-button-apps:active {
    background-color: var(--basic-extra-dark-green);
}

.service-button-presentations {
    background-color: var(--basic-yellow);
}

.service-button-presentations:hover,
.service-button-presentations:focus {
    background-color: var(--basic-dark-yellow);
}

.service-button-presentations:active {
    background-color: var(--basic-extra-dark-yellow);
}


/* Catalog sort buttons */

.sort-button {
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-black-transparent);
    text-transform: uppercase;
    background-color: var(--basic-white);
    border: none;
}

.sort-button:hover,
.sort-button:focus {
    color: var(--basic-gray-transparent);
}

.sort-button:active {
    color: var(--basic-black);
}

.sort-active {
    color: var(--basic-black);
}


/* Services */

.services {
    padding: 60px 0 80px;
    border-bottom: 2px solid var(--basic-neutral);
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    list-style: none;
}

.service-item {
    position: relative;
    width: 300px;
    margin-top: 20px;
}

.service-item h3 {
    margin: 0;
    padding-top: 171px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.service-item p {
    margin: 16px 0 0 0;
}

.service-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 146px;
}

.service-item:first-child::before {
    background-image: url("../img/illustration-1.png");
}

.service-item:nth-child(2)::before {
    background-image: url("../img/illustration-2.png");
}

.service-item:nth-child(3)::before {
    background-image: url("../img/illustration-3.png");
}


/* About */

.about {
    border-bottom: 2px solid var(--basic-neutral);
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.description-container {
    margin: 0;
    padding: 73px 0 73px;
}

.levels-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px 0 74px;
}

.description {
    margin: 0;
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-black);
}

.description-container p:nth-child(2) {
    margin: 32px 0 0 0;
}

.about h4 {
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.description-container h4 {
    margin: 40px 0 0 0;
}

.levels-container img {
    width: 360px;
    height: 208px;
    -o-object-fit: contain;
    object-fit: contain;
}

.levels-container h4 {
    margin: 37px 0 0 0;
}

.description-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
    margin: 24px 0 0 0;
    padding-left: 35px;
    list-style-type: none;
}

.description-item {
    position: relative;
}

.description-item::before {
    content: "";
    position: absolute;
    top: 11px;
    left: -35px;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
}

.about-studio {
    margin: 31px 0 0 0;
}

.about-studio tbody {
    display: flex;
    flex-direction: column-reverse;
}

.about-studio-levels {
    display: flex;
    justify-content: space-between;
    width: 310px;
    margin: 0 50px 0 0;
}

.about-studio-items {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.about-studio-items th:last-child {
    margin-right: 10px;
}

.about-studio td {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black);
}

.about-studio th {
    font-weight: inherit;
    line-height: 18px;
    text-align: left;
}

.about-studio-levels span {
    font-size: 26px;
    line-height: 40px;
    vertical-align: top;
}


/* Companies-logo */

.companies {
    border-bottom: 2px solid var(--basic-neutral);
}

.companies-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 46px 0 34px;
    list-style-type: none;
}

.companies-logo-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
}

.companies-logo-item:first-child,
.companies-logo-item:nth-child(4n+1),
.companies-logo-item:nth-child(4n+4) {
    width: 279px;
}

.companies-logo-item:first-child a {
    padding-right: 15px;
}

.companies-logo-item:nth-child(4n+4) a {
    padding-left: 25px;
}

.companies-logo-item a {
    opacity: 0.2;
}

.companies-logo-item a:hover,
.companies-logo-item a:focus {
    opacity: 1;
}

.companies-logo-item a:active {
    opacity: 0.1;
}

.companies-logo li:not(:nth-child(4n+4))::after {
    content: "";
    position: absolute;
    right: 0;
    width: 2px;
    height: 52px;
    background-color: var(--basic-neutral);
}


/* Catalog */

.active-list {
    position: relative;
}

.active-list::after {
    content: "";
    position: absolute;
    top: 42px;
    left: 1px;
    width: 74px;
    height: 2px;
    background-color: var(--basic-red);
}

.title-block {
    padding-top: 5px;
    padding-bottom: 108px;
    text-align: center;
    background-color: var(--basic-neutral);
}


/* Filters */

.page-title {
    margin: 0;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
}

.filter {
    width: 260px;
}

.filters fieldset {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    border: none;
}

.filters fieldset:first-child {
    margin-top: 55px;
}

.filters .grid {
    margin-top: 57px;
}

.filters .characteristics {
    margin-top: 44px;
}

.filter legend {
    margin-bottom: 16px;
}

.range-filter {
    width: 260px;
    margin-top: 32px;
}

.filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-option {
    padding-left: 36px;
}

.filter-radio:not(:last-child) {
    margin-bottom: 15px;
}

.filter-checkbox:not(:last-child) {
    margin-bottom: 15px;
}

.filter-option label {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.grid label,
.characteristics label {
    line-height: 19px;
    color: var(--basic-light-black);
}

.filter-input-radio+label::before {
    content: "";
    position: absolute;
    top: -2.5px;
    left: -36px;
    width: 17px;
    height: 17px;
    background-color: var(--basic-white);
    border: 4px solid var(--basic-extra-dark-gray);
    border-radius: 50%;
}

.filter-input-checkbox+label::before {
    content: "";
    position: absolute;
    top: -2.5px;
    left: -36px;
    width: 19px;
    height: 19px;
    border: 2px solid var(--basic-extra-dark-gray);
    border-radius: 3px;
}

.filter-input-radio+label::before,
.filter-input-checkbox+label::before {
    opacity: 0.4;
}

.filter-input-radio+label:hover::before,
.filter-input-radio+label:active::before,
.filter-input-checkbox+label:hover::before,
.filter-input-checkbox+label:active::before {
    opacity: 1;
}

.filter-input-checkbox:checked+label::before,
.filter-input-radio:checked+label::before {
    border: none;
}

.filter-input-radio:checked+label::after {
    content: "";
    position: absolute;
    top: -2.5px;
    left: -36px;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-on.svg");
}

.filter-input-checkbox:checked+label::after {
    content: "";
    position: absolute;
    top: -2.5px;
    left: -36px;
    width: 25px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
}

.filter-input-radio:checked+label::after,
.filter-input-checkbox:checked+label::after {
    opacity: 0.4;
}

.filter-input-radio:checked+label:hover::after,
.filter-input-radio:checked+label:active::after,
.filter-input-checkbox:checked+label:hover::after,
.filter-input-checkbox:checked+label:active::after {
    opacity: 1;
}

.filter-input-radio:disabled+label::before,
.filter-input-radio:checked:disabled+label::after,
.filter-input-checkbox:disabled+label::before,
.filter-input-checkbox:checked:disabled+label::after {
    opacity: 0.1;
}

.filter-input-radio:disabled+label,
.filter-input-radio:checked:disabled+label,
.filter-input-checkbox:disabled+label,
.filter-input-checkbox:checked:disabled+label {
    opacity: 0.3;
}

.filter-input-radio:checked:focus+label::after,
.filter-input-checkbox:focus+label::before,
.filter-input-checkbox:checked:focus+label::after {
    opacity: 1;
}

.filter-item legend,
.sort-header {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 14px;
    padding: 39px 22px 0 33px;
    background-color: var(--basic-neutral);
    border-radius: 3px;
}

.range-controls .scale {
    height: 2px;
    background: var(--basic-gray-blue);
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background-color: var(--basic-green);
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    background-color: var(--basic-asphalt-gray);
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    box-shadow: 0 2px 1px var(--basic-shadow);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
}

.price-controls label {
    line-height: 22px;
    color: var(--basic-light-black);
    text-transform: uppercase;
}

.price-controls input {
    width: 80px;
    margin-left: 11px;
    padding: 8px 0 8px 0;
    font-size: inherit;
    font-family: inherit;
    text-align: center;
    color: var(--basic-light-black);
    background-color: var(--basic-neutral);
    border: none;
    border-radius: 3px;
}


/* For Chrome */

.price-controls input[type="number"]::-webkit-outer-spin-button,
.price-controls input[type="number"]::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}


/* For Firefox */

.price-controls input[type="number"] {
    -moz-appearance: textfield;
}

.price-controls input[type="number"]:hover,
.price-controls input[type="number"]:focus {
    -moz-appearance: number-input;
}


/* For others */

.price-controls input[type=number]::-webkit-inner-spin-button,
.price-controls input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

.filter-button {
    display: inline-block;
    width: 260px;
    min-height: 50px;
    margin-top: 20px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    background-color: var(--basic-neutral);
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--basic-extra-light-gray);
}

.filter-button:active {
    color: var(--basic-black-transparent);
    background-color: var(--basic-light-gray);
    box-shadow: inset 0 3px 0 var(--basic-extra-light-shadow);
}

.sort-header {
    width: 360px;
    margin: 0;
}

.sort-block {
    display: flex;
    padding: 55px 0 48px;
}

.sort-criterions {
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin-left: 40px;
}

.sort-list,
.sort-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.sort-list {
    flex-grow: 1;
}

.sort-arrows {
    position: relative;
    width: 40px;
    margin-left: 47px;
}

.sort-down,
.sort-up {
    background-color: transparent;
    cursor: pointer;
}

.sort-down path,
.sort-up path {
    fill: var(--basic-gray);
}

.active-arrow g,
.sort-down:hover g,
.sort-up:hover g,
.sort-down:focus g,
.sort-up:focus g,
.sort-down:active g,
.sort-up:active g {
    opacity: 1;
}

.active-arrow path,
.sort-down:active path,
.sort-up:active path {
    fill: var(--basic-black-active);
}

.samples-list {
    list-style-type: none;
}

.sample-item {
    position: relative;
    width: 359px;
    padding-top: 40px;
    overflow: hidden;
    line-height: 0;
    background-color: var(--basic-extra-dark-gray-transparent);
    border-radius: 4px;
}

.sample-item:hover,
.sample-item:focus-within {
    background-color: var(--basic-extra-dark-gray);
    box-shadow: 0 6px 15px var(--basic-light-shadow);
}

.sample-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 32px;
}

.sample-item::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 16px;
    width: 14px;
    height: 14px;
    background-color: var(--basic-white);
    border-radius: 50%;
    box-shadow: 23px 0 0 var(--basic-white), 46px 0 0 var(--basic-white);
}

.description-wrapper {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.sample-item img {
    background-color: var(--basic-neutral);
    -o-object-fit: contain;
    object-fit: contain;
}

.description-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    padding: 26px 0 44px 0;
    background-color: var(--basic-neutral);
    opacity: 0;
}

.description-wrapper:focus-within {
    opacity: 1;
    transition: 1s;
}

.sample-item:hover .description-wrapper,
.sample-item:focus .description-wrapper {
    opacity: 1;
    transition: 1s;
}

.sample-name {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

.sample-link {
    color: var(--basic-black);
}

.sample-link:hover,
.sample-link:focus {
    color: var(--basic-red);
}

.sample-link:active {
    color: var(--basic-black-transparent);
}

.sample-description {
    margin: 12px 0 0 0;
    line-height: 18px;
    text-align: center;
    color: var(--basic-light);
}

.purchase-button {
    margin: 32px 0 0 0;
    padding: 17px 72px 15px 72px;
}

.pagination-block {
    display: flex;
    justify-content: flex-start;
    padding: 56px 0 0 0;
}

.pagination-list {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item {
    margin-right: 12px;
    border-radius: 3px;
}

.pagination-item a,
.pagination-button {
    display: inline-block;
    vertical-align: middle;
}

.pagination-item a {
    padding: 17px 20px 15px 20px;
}

.pagination-button {
    padding: 17px 77px 15px 78px;
}

.pagination-item a,
.pagination-button,
.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    font-weight: 500;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.pagination-item a:active {
    color: var(--basic-black-transparent);
}

.pagination-item,
.pagination-item a,
.pagination-button {
    background-color: var(--basic-neutral);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-button:hover,
.pagination-button:focus {
    background-color: var(--basic-extra-light-gray);
}

.pagination-item a:active,
.pagination-button:active {
    color: var(--basic-black-transparent);
    background-color: var(--basic-light-gray);
    box-shadow: inset 0 3px 0 var(--basic-extra-light-shadow);
}

.current-page a,
.current-page a:hover,
.current-page a:focus,
.current-page a:active {
    box-sizing: border-box;
    padding: 14px 17px 12px 17px;
    background-color: var(--basic-white);
    border: 3px solid var(--basic-neutral-extra-dark);
    box-shadow: none;
}


/* Footer */

.contacts {
    position: relative;
    height: 416px;
    margin: 0 auto;
    text-align: center;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.contacts iframe {
    max-width: 100%;
    border: none;
    -o-object-fit: contain;
    object-fit: contain;
}

.adress-container {
    position: absolute;
    top: 54px;
    left: auto;
    width: 219px;
    margin: 0;
    padding: 49px 50px 47px 50px;
    text-align: start;
    background-color: var(--basic-white);
}

.contacts h5 {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.contacts p {
    margin: 23px 0 0 0;
    line-height: 18px;
    color: var(--basic-light);
}

.contacts-phone {
    color: inherit;
}

.contacts-button {
    display: inline-block;
    margin: 37px 0 0 0;
    padding: 17px 44px 15px 44px;
    vertical-align: middle;
}

.social-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 68px 0 76px;
}

.discount-container {
    padding-left: 139px;
}

.social-links-header {
    margin: 6px 0 10px;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-black);
}

.discount {
    margin: 0;
    line-height: 22px;
    color: var(--basic-dark);
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 261px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.social-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 81px;
    height: 81px;
    background: linear-gradient(0deg, var(--basic-neutral-dark), var(--basic-neutral-dark)), var(--basic-white);
    border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
    background: linear-gradient(0deg, var(--basic-dark-red), var(--basic-dark-red)), var(--basic-white);
}

.social-link:active {
    background: linear-gradient(0deg, var(--basic-extra-dark-red), var(--basic-extra-dark-red)), var(--basic-white);
    box-shadow: inset 0 3px 0 var(--basic-extra-light-shadow);
}

.social-link:active img {
    opacity: 0.3;
}


/* Popup */

.popup {
    position: fixed;
    right: 240px;
    bottom: 180px;
    left: 240px;
    z-index: 100;
    display: none;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
    padding: 63px 99px 84px 100px;
    background-color: var(--basic-white);
    box-shadow: 0 20px 40px var(--basic-dark-shadow);
}

.popup-show {
    display: block;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}

.popup-error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}

.popup-error .user-name,
.popup-error .user-email,
.popup-error .user-comment {
    color: var(--basic-dark-red);
    border-color: var(--basic-dark-red);
}

.popup-header {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: var(--basic-black);
}

.popup label {
    font-weight: bold;
    line-height: 18px;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 37px;
    color: var(--basic-black);
}

.name-field,
.email-field {
    width: 360px;
}

.form-container input,
.form-container textarea {
    box-sizing: border-box;
    margin: 9px 0 0 0;
    color: var(--basic-dark-transparent);
    border: 2px solid var(--basic-light-gray-blue);
    border-radius: 3px;
}

.form-container input:hover,
.form-container textarea:hover {
    border-color: var(--basic-dark-gray-blue);
}

.form-container input:focus,
.form-container textarea:focus,
.form-container input:active,
.form-container textarea:active {
    color: var(--basic-dark);
    border-color: var(--basic-black);
    outline: none;
}

.name-field input,
.email-field input {
    width: 360px;
    padding: 16px 14px 16px 16px;
}

.comment-field {
    margin: 34px 0 0 0;
}

.comment-field textarea {
    width: 760px;
    padding: 16px 414px 84px 16px;
}

.form-button {
    margin: 47px 0 0 0;
    padding: 17px 83px 15px 83px;
    font-weight: 500;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.popup-close {
    position: absolute;
    top: 78px;
    right: 90px;
    width: 21px;
    height: 21px;
    background-color: transparent;
    background-image: url("../img/popup-close.svg");
    border: 0;
    cursor: pointer;
    opacity: 0.3;
}

.popup-close:hover,
.popup-close:focus {
    opacity: 1;
}

.popup-close:active {
    opacity: 0.1;
}


/* Animations */

@-webkit-keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}